{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <h2>About This Website</h2><br>
    <p>This is a website created for our CS50 final project. We wanted to flip the idea of choosing a concentration on its head;
    students often focus primarily on or give too much weight to the name of each course. We don't want someone to automatically dismiss a course called <a href ="https://canvas.harvard.edu/courses/28206">'Engineering Sciences 95r'</a>
    just because they don't think they're a "STEM person", even though the course is actually about 'Startup Research and Development'! We'd also like to help reverse the trend of picking a concentration, and then trying to find courses to fulfill that concentration instead
    of first customizing a study plan that consists of exciting courses, and then seeing what concentrations that might lead to. </p>
    <p>We have nifty little features like being able to see your suggestions (cumulative across all your test-taking efforts) and selection history, and starring courses to save them for future reference!</p><br>

    <h2>About The Creators</h2><br>
    <p><img src="https://i.imgur.com/sdy3Vsh.jpg" alt="creators" width="500" height="350" align="left"> From left to right: <br> Matt Ybarra ('20), Saffron Huang ('20), Kyle Sanok ('20) <br><br> Matt is a sophomore in Dunster
    House joint concentrating in Computer Science and Music. He can be spotted carrying his cello on his back and wearing his sandals on his feet (even when it's 30 degrees out). <br><br> Saffron is a sophomore in Dunster House
    concentrating in Applied Mathematics with a specialization in Sociology. She likes crosswords and avocados, and she's not from Australia.<br><br>
    Kyle is a sophomore in Lowell House concentrating in Applied Mathematics with a specialization in Artificial Intellgience. Aside from being an avid Yelper, he also channels his suburban roots with frequent trips to Barry's Bootcamp and Whole Foods.</p>



{% endblock %}
